<p id="notice"><%= notice %></p>

<h2>Latest Jobs</h2>
  <% @jobs.each do |job| %>
  <div class="job text-center">
    <%= link_to "#{job.title}<br/><span> @ #{job.company}</span>".html_safe, job %>
  </div>
  <% end %>


<br>

<%= link_to 'New Job', new_job_path, 'data-no-turbolink' => true%>
