<p id="notice"><%= notice %></p>

<h2>Latest Jobs</h2>
  <% @jobs.each do |job| %>
  <div class="job">
    <%= link_to "#{job.title}<br/><span> @ #{job.company}</span>".html_safe, job %>
  </div>
  <% end %>
