/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

$purple: #653E83;
$light-purple: #695a74;

body, html{
  height: 100%;
}
body{
  font-family: 'Lato', sans-serif;

}
.navbar, body{
  background: $light-purple;
}
.navbar{
  border: none;
  margin: 0;
}
.container{
  background: white;
  //background-image: image-url('halftone.png');
}
.navbar{
  margin-top: 1em;
}

h2{
  color: $purple;
}

.job{
  background-color: white;
  padding: 1.5em 0;
  transition: all .2s ease;
  margin: 1.5em 0;
  //border: 2px solid rgb(57, 46, 57);
  //box-shadow: 0px 0px 10px 10px rgba(57, 46, 57, 0.04);
  a{
    color: $purple;
    font-size: 1.2em;
  }
  &:hover{
    transform: scale(1.01);
  }
  span{
    color: $light-purple;
  }
}

.skill{
  border-radius: 4px;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #CCCCCC;
}

.links{
  text-align: center;
  a{
    color: #CCCCCC;
  }
  margin-top: 1em;

}
